*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    background-color: rgb(95, 95, 173);
    height: 60px;
}

#tag{
    height: 25px;
    border-radius: 20px;
    border: none;
    margin-left: 30%;
    margin-top: 15px;
    font-size: 1rem;
    padding: 3px;
}

#submit{
    margin-left: 20px;
    height: 22px;
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

#main-layout{
    margin-left: 20%;
    width: 550px;
}

ul{
    list-style: none;
}

#posts{
    padding: 10px;
    box-shadow: -3px -3px 7px rgb(168, 168, 168), 3px 3px 7px rgb(206, 206, 206);

}

#suggested-tag{
    background-color: rgb(231, 229, 229);
    cursor: pointer;
}